<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msjf.finance.mcs.modules.sms.dao.AusMobileFailcntMapper">
  <resultMap id="BaseResultMap" type="com.msjf.finance.mcs.modules.sms.entity.AusMobileFailcnt">
    <id column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="failcnt" jdbcType="VARCHAR" property="failcnt" />
  </resultMap>
  <sql id="Base_Column_List">
    mobile, failcnt
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from aus_mobile_failcnt
    where mobile = #{mobile,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from aus_mobile_failcnt
    where mobile = #{mobile,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.msjf.finance.mcs.modules.sms.entity.AusMobileFailcnt">
    insert into aus_mobile_failcnt (mobile, failcnt)
    values (#{mobile,jdbcType=VARCHAR}, #{failcnt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.msjf.finance.mcs.modules.sms.entity.AusMobileFailcnt">
    insert into aus_mobile_failcnt
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mobile != null">
        mobile,
      </if>
      <if test="failcnt != null">
        failcnt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="failcnt != null">
        #{failcnt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.msjf.finance.mcs.modules.sms.entity.AusMobileFailcnt">
    update aus_mobile_failcnt
    <set>
      <if test="failcnt != null">
        failcnt = #{failcnt,jdbcType=VARCHAR},
      </if>
    </set>
    where mobile = #{mobile,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.msjf.finance.mcs.modules.sms.entity.AusMobileFailcnt">
    update aus_mobile_failcnt
    set failcnt = #{failcnt,jdbcType=VARCHAR}
    where mobile = #{mobile,jdbcType=VARCHAR}
  </update>
</mapper>